<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
    </head>
    <body>
    <a href="/"><input type="button" name="home" value="Home page"></a>
            <div style="border: black solid 1px">
                <div>Email: {{user.email}}</div>
                <div>age: {{user.age}}</div>
                <div>gender {{user.gender}}</div>
            </div>
        <a href="/users"><input type="button" value="Show all users"></a>
    </body>
</html>